In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.DataFrame({
    'Name': ['Myca', 'Arabella', 'Julie', 'Aira', 'Neslie', 'Nonna','Keint', 'Clarenz', 'Nathaniel', 'Arje', 'Chiryl', 'Ruiz', 'Renalyn', 'Rothchel', 'Daniel', 'Jovanie', 'Dhan', 'Daniel', 'Jim', 'Elnor'],
    'Age': [25, 40, 30, 22, 35, 29, 44, 34,45,56,23,21,21,21,22,34,23,34,45,50],
    'Salary': [50000, 60000, 78000, 45000, 70000, 55000,56000,67000,90000,89000,56000,45000,89000,23000,56000,55000,34000,67000,56000,89000],
    'Position': ['HR', 'IT Specialist', 'Finance Manager', 'IT Specialist', 'Finance Manager', 'Nurse', 'Doctor', 'Teacher','Accountant','Medtech','President','Programmer', 'Dentist','Sports Officer', 'Videographer','Photographer','Editor','Hearing Specialist','Senator','Commandant']
})

In [ ]:
print('Dataset:')
print(data)

Dataset:
         Name  Age  Salary            Position
0        Myca   25   50000                  HR
1    Arabella   40   60000       IT Specialist
2       Julie   30   78000     Finance Manager
3        Aira   22   45000       IT Specialist
4      Neslie   35   70000     Finance Manager
5       Nonna   29   55000               Nurse
6       Keint   44   56000              Doctor
7     Clarenz   34   67000             Teacher
8   Nathaniel   45   90000          Accountant
9        Arje   56   89000             Medtech
10     Chiryl   23   56000           President
11       Ruiz   21   45000          Programmer
12    Renalyn   21   89000             Dentist
13   Rothchel   21   23000      Sports Officer
14     Daniel   22   56000        Videographer
15    Jovanie   34   55000        Photographer
16       Dhan   23   34000              Editor
17     Daniel   34   67000  Hearing Specialist
18        Jim   45   56000             Senator
19      Elnor   50   89000          Commandant

In [22]:
#Simple Anomaly Detection using Mean and Standard Deviation
mean_salary = data['Salary'].mean()
std_salary = data['Salary'].std()
threshold = 1.5 * std_salary